/* CSS Document */
/* ========= ������ʽ ========= */
*{ margin:0; padding:0; color:#666; }
*,*:after,*:before{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{ font-family:"Microsoft YaHei"; font-size:13px;margin:0;padding:0;color:#666; background:#fff;}
div,h1,h2,h3,h4,h5,p,ul,ol,li,dl,dd,dt,img,form,iframe,textarea{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
form,tr,th,td,input,select{ outline:none;}
input,textarea{font-family:"Microsoft YaHei";}
table{border-collapse:collapse;}
/*link*/
a,textarea{text-decoration:none;color:#555;}
a:hover,textarea:hover{text-decoration:none;}
.clear {zoom:1;}
.clear:after {content:'';display:block;clear:both;height:0px;}
.left{ float:left!important;; display:inline;} .right{ float:right!important; display:inline;}

.tablebox{ width:100%; overflow-x:auto; overflow-y:hidden;}
.phxx,.spsq{ width:800px; height:auto; margin:0 auto;}
.phxx h1{ text-align:center; font-size:30px; font-weight:normal; height:50px; line-height:50px; margin-bottom:50px}
.phtop,.phbot{ padding:0 20px; font-size:17px;}
.phtop .row{ clear:both; overflow:hidden; margin-bottom:10px; height:24px; line-height:24px;}
.phtop .row p{ float:left;}
.phtop .row .left{ width:55%;}.phtop .row .right{ width:40%;}
.phtop .row p input[type="text"],.phtop .row p input[type="number"]{ width:100%; border:none; background:none; line-height:24px; outline:none; font-size:17px;}
.phtop .row p label,.phtop .row p span{ float:left}
.phtop .row p label{ width:90px;}.phtop .row .left span{ width:320px}
.table_nr table{ line-height:24px;}
.table_nr table tr td{ padding:5px; font-size:16px; text-align:center; word-break: break-all;}
.cdtit{ width:20px; text-align:center;font-size:16px; margin:0 auto;}
.table_nr table tr td input[type="text"],.table_nr table tr td input[type="number"],.table_nr table tr td textarea{ width:100%; border:none; background:none; line-height:24px; outline:none; text-align:center; font-size:15px; color:#666;}
.phbot p{ width:33.33%; float:left; display:inline; margin-top:10px}
.phbot p label,.phbot p span,.yftit label,.yftit span,.sqyy label,.sqyy span{ float:left;}
.phbot p textarea{ width:100%; border:none; background:none; line-height:24px; outline:none; text-align:left; font-size:15px; color:#666; width:142px}
.yftit .left,.yftit .right{ width:240px;}
.hj label,.hj span{ float:left;}
.hj span input{ width:350px!important; text-align:left!important;}
.sqyy span textarea{ width:900px!important; text-align:left!important;}
.yftit input{ text-align:left!important;}


.ypsy{ width:1200px; height:auto; margin:0 auto;}
.ypsy h1,.hwlq h1,.kqb h1,.spsq h1{text-align:center; font-size:30px; font-weight:normal; height:50px; line-height:50px; margin-bottom:10px;}
.hwlq{ width:1000px; height:auto; margin:0 auto;}
.kqb{ width:1500px; height:auto; margin:0 auto;}
