<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body>
<div class="hdbox">
 <div class="bg"><img src="images/bg.jpg" alt="" /></div>
 <div class="login">
  <div class="jlinfo">
  <h3>奖励说明</h3>
  <div class="smtxt">
   <p>1.奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述</p>
   <p>2.奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述</p>
   <p>3.奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖</p>
   <p>4.奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励说明描述奖励</p>
  </div>
  </div>
 </div>
</div>
</body>
</html>