		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('lst')}")><span class="fa fa-database"></span>当日签到</button>
		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('location')}")><span class="fa fa-database">位置详情</span></button>
		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('generate')}")><span class="fa fa-database">签到查询</span></button>
		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('months')}")><span class="fa fa-database">签到月查询</span></button>

		<hr />
<div id="content-sub">
	
</div>