
<form role="form"  class="my-row" check="{:url('upload')}"  action="{:url('addhanddle')}" jumpUrl="{:url('lst')}">

	<div class="form-group " >
		<div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4">
			<div class="dropdown my-drop">
				<button type="button" class="btn dropdown-toggle btn-block drop-btn" id="dropdownMenu1" data-toggle="dropdown">请选择类型
					<span class="caret"></span>
				</button>

				<input type="hidden" class="drop-val up" name="aim_type" value="" />

				<ul class="dropdown-menu drop-ul" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
						<a role="menuitem" tabindex="-1"   id="1" href="#">日目标</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1"   id="2" href="#">月目标</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1"   id="3" href="#">年目标</a>
					</li>

				</ul>
			</div>

		</div>
	</div>


	

	<link rel="stylesheet" href="__PUBLIC__/jfu/css/jquery.fileupload.css">
	<link rel="stylesheet" href="__PUBLIC__/jfu/css/jquery.fileupload-ui.css">
	<script src="__PUBLIC__/jfu/js/vendor/jquery.ui.widget.js"></script>
	<script src="__PUBLIC__/jfu/js/jquery.fileupload.js"></script>
	<script src="__PUBLIC__/jfu/js/jquery.iframe-transport.js"></script>

	

	

	<div class="form-group my-over-hidden" >
		<input type="hidden" name="article_content" class="up" id="cancer_content"/>

		<script id="editor" type="text/plain" style="width:100%;height:240px;"></script>

        <script>
        $(function(){
            UE.delEditor('editor');
            var ue = UE.getEditor('editor');
            ue.addListener('blur',function(){
                $("#cancer_content").val(ue.getContent());
            })
        })

		</script>

	</div>
	<div class="form-group my-over-hidden" >
		<div class="col-lg-push-4 col-md-push-4 col-lg-4 col-md-4 ">
			<span   class="btn btn-success btn-block btn-submit" class="up-info">提交 </span>
		</div>
	</div>


</form>




<script>
    //初始化绑定指定的事件
   /* $(function(){
        var inputs=$('.my-row input.check');

        $.each(inputs, function(index,input) {
            $(input).blur(function(){
                submit[index]=1;
                //获取对应的键值
                var mykey=$(input).attr('name');
                var myjson={[mykey]:$(input).val()};
                $.ajax({
                    type:"post",
                    data:myjson,
                    url:$('.my-row').attr('check'),
                    success:function(data){
                        if(data.state==1){

                            $(input).next().children().remove();
                            $(input).next().html('<i class="glyphicon glyphicon-ok text-success"></i>');
                            submit[index]=1;
                        }else{
                            $(input).next().children().remove();
                            $(input).next().html('<i class="glyphicon glyphicon-remove text-danger"></i>');

                        }
                    }
                });

            })
        });
    })*/
</script>
