
<form role="form"  class="my-row" check="{:url('upload')}"  action="{:url('add')}" jumpUrl="{:url('lst')}">

	<div class="form-group my-over-hidden " >
		<input type="hidden" class="up pic" value="" name="img_path" /><span id="p" style="display: none;"></span>
		<div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4" style="text-align: center;">
			<img src="__ADMIN__/images/upload.png" id="img" name="img" width="130">
			<div class="progress">
				<div id="thumb_progress" class="progress-bar" style="width:0%;"></div>
			</div>
			<span id="thumb_upload" class="btn btn-primary fileinput-button">
							<span>上传文件</span>
							<input id="" placeholder="" class="thumb" type="file" name="thumb">
						</span>
		</div>
	</div>

	<link rel="stylesheet" href="__PUBLIC__/jfu/css/jquery.fileupload.css">
	<link rel="stylesheet" href="__PUBLIC__/jfu/css/jquery.fileupload-ui.css">
	<script src="__PUBLIC__/jfu/js/vendor/jquery.ui.widget.js"></script>
	<script src="__PUBLIC__/jfu/js/jquery.fileupload.js"></script>
	<script src="__PUBLIC__/jfu/js/jquery.iframe-transport.js"></script>

	<script type="text/javascript">
        $(function() {
            $(".thumb").fileupload({
                url: '{:url("uploads")}',
                sequentialUploads: true
            }).bind('fileuploadprogress', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $("#thumb_progress").css('width',progress + '%');
                $("#thumb_progress").html(progress + '%');
            }).bind('fileuploaddone', function (e, data) {
                console.log(data);
                $(".pic").val(data.result[1]);
                $('#p').html(data.result[0]);
               // $("#thumb_upload").css({display:"none"});
            });
        });
	</script>
	<div class="form-group my-over-hidden" >
         <input type="hidden" name="img_content" class="up" id="cancer_content"/>
       <script type="text/plain" id="myEditor" style="width:100%;height:240px;">
                <p>这里我可以写一些输入提示</p>
            </script>
         <script id="editor" type="text/plain" style="width:100%;height:240px;"></script>

         <script>
         $(function(){


             UE.delEditor('editor');
             var ue = UE.getEditor('editor');
             ue.addListener('blur',function(){
                 $("#cancer_content").val(ue.getContent());
             })
         })
         </script>

     </div>




	<div class="form-group my-over-hidden" >
		<div class="col-lg-push-4 col-md-push-4 col-lg-4 col-md-4 ">
			<span   class="btn btn-success btn-block btn-submit" class="up-info">提交 </span>
		</div>
	</div>


</form>




<script>
    //初始化绑定指定的事件
    $(function(){
        var inputs=$('.my-row input.check');

        $.each(inputs, function(index,input) {
            $(input).blur(function(){
                submit[index]=1;
                //获取对应的键值
                var mykey=$(input).attr('name');
                var myjson={[mykey]:$(input).val()};
                $.ajax({
                    type:"post",
                    data:myjson,
                    url:$('.my-row').attr('check'),
                    success:function(data){
                        if(data.state==1){

                            $(input).next().children().remove();
                            $(input).next().html('<i class="glyphicon glyphicon-ok text-success"></i>');
                            submit[index]=1;
                        }else{
                            $(input).next().children().remove();
                            $(input).next().html('<i class="glyphicon glyphicon-remove text-danger"></i>');

                        }
                    }
                });

            })
        });
    })
</script>
