	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>__TITLE__</title>
		<link href="__BOOTSTRAP__/css/bootstrap.css"  rel="stylesheet"/>
		<script src="__BOOTSTRAP__/js/jquery-3.1.1.min.js"></script>
		<script src="__BOOTSTRAP__/js/bootstrap.min.js"></script>
		<link href="__ADMIN__/css/admin.css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css" />
	</head>