<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>恭喜你</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" type="text/css" href="__GAME__/css/css.css">
</head>
<body>
<div class="hdbox">
 <div class="bg"><img src="__GAME__/images/bg.jpg" alt="" /></div>
 <div class="success">
  <img src="__GAME__/images/success.png" alt="" />
  <div class="btn"><a href="{:url('reward')}">领取奖励</a><a href="{:url('details')}">奖励详情</a></div>
 </div>
 <div class="dbbg"><img src="__GAME__/images/dbbg.png" alt="" /></div>
</div>
</body>
</html>