<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('salesOut')}")><span class="fa fa-database"></span> 销售出库</button>
<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('sampleOut')}")><span class="fa fa-database"></span> 样品出库</button>
<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('endProductOut')}")><span class="fa fa-database"></span> 成品出库</button>
<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('semiManufacturesOut')}")><span class="fa fa-database"></span> 半成品出库</button>
<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('theProductionOfMaterials')}")><span class="fa fa-database"></span> 生产领料出库</button>

<button type="button" class="btn ajax-get-third-page" url="{:url('otherOut')}") style="float: right; background: #e4e4e4;"><span class="fa fa-database"></span> 其他出库</button>
<hr />

<div id="content-third" >
</div>
<script>
	$('#myModalTitle').html('');
</script>