<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>野人部落</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" type="text/css" href="__GAME__/css/css.css">
</head>
<body>
<div class="hdbox">
 <div class="bg"><img src="__GAME__/images/bg.jpg" alt="" /></div>
 <div class="login">
  <form action="{:url('query')}" method="post">
  <div class="row"><input name="name" required="required" type="text" placeholder="请输入姓名/手机号" /></div>
  <div class="row"><input name="" type="submit" value="查询" /></div>
  </form>
 </div>
 <div class="dbbg"><img src="__GAME__/images/dbbg.png" alt="" /></div>
</div>
</body>
</html>