		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('add')}")><span class="fa fa-database"></span>报销费用(日常报销)</button>
		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('lst')}")><span class="fa fa-database">报销费用明细</span></button>
		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('generate')}")><span class="fa fa-database"></span>月账单生成</button>
		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('query')}")><span class="fa fa-database"></span>月账单查询</button>
<!--		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('add')}")><span class="fa fa-database"></span>特殊费用</button>
		<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('lst')}")><span class="fa fa-database"></span>特殊费用列表</button>-->

		<hr />
<div id="content-sub">
	
</div>