		<table class="table table-striped table-responsive table-bordered table-hover">
					<caption><span class="glyphicon glyphicon-th"></span>{$tabTitle}</caption>
					<thead>
						<tr>
					
							
							<th>序号</th>
							<th>账单名字</th>
						    <th>账单起始时间</th>
							<th>账单结束时间</th>

							<th>操作</th>
						</tr>	
					</thead>
					
					<tbody>

						
						{volist name="list" id="vo"}
						
						<tr id="tr{$vo.monthly_id}">
							<td>{$vo.monthly_id}</td>
							<td>{$vo.monthly_remark}</td>
							<td>{$vo.monthly_time|date="Y-m-d H:i:s",###}</td>
							<td>{$vo.monthly_times|date="Y-m-d H:i:s",###}</td>
							<td>
								<span   class="glyphicon glyphicon-plus-sign text-success my-click-span ajax-get-page" url="{:url('addfile')}" id="{$vo.monthly_id}"></span>
								<a class="glyphicon glyphicon-download text-success my-click-span "
										href="{$vo.monthly_file}" target="_blank"></a>
									　　<span   class="glyphicon glyphicon-remove text-danger my-click-span "
										data-toggle="modal" data-target="#myModal{$vo.monthly_id}"
										></span>
								<span   class="glyphicon glyphicon-eye-open text-danger my-click-span get-detail" data-toggle="modal" url="{:url('querydetail')}" myId="{$vo.monthly_id}"
								></span>

										<div class="modal fade" id="myModal{$vo.monthly_id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										    <div class="modal-dialog">
										        <div class="modal-content">
										            <div class="modal-header">
										                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										                <h4 class="modal-title" id="myModalLabel">提示</h4>
										            </div>
										            <div class="modal-body">确定要删除吗？这将不可恢复！</div>
										            <div class="modal-footer">
										                <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
															<span type="button" url="{:url('querydel')}" name="monthly_id" class="btn btn-danger ajax-del" id="{$vo.monthly_id}" jumpUrl="{:url('lst')}">确定删除</span>
										            </div>
										        </div><!-- /.modal-content -->
										    </div><!-- /.modal -->
										</div>
										
							</td>
						</tr>
						{/volist}
					
						
					</tbody>
					
					
					
				</table>
				<!--
                	作者：wobuzhidaoweishenme@hotmail.com
                	时间：2017-07-26
                	描述：模态提示
                -->


