			<div id="content" class="col-lg-11 col-md-10 col-sm-10 my-container">


				<form role="form"  class="my-row" check="{:url('checkAjax')}" action="{:url('updhanddle')}" jumpUrl="{:url('lst')}">
					<input type="hidden" name="module_id" value="{$detail_info.module_id}" class="up" />
				  <div class="form-group my-over-hidden" >
					       <div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4">
							  <span class="input-group-addon">模块名称</span>
							  <input type="text"  value="{$detail_info.module_name}" class="form-control up" name="module_name" placeholder="点击输入。。。" >
							  <span class="input-group-addon"><i class="glyphicon" ></i></span>
							</div>
				  </div>
				
					  <div class="form-group" >
						       <div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4">
								 
									<div class="dropdown my-drop">
									    <button type="button" class="btn dropdown-toggle btn-block drop-btn" id="dropdownMenu1" data-toggle="dropdown">所属模块
									        <span class="caret"></span>
									    </button>
									    
									    <input type="hidden" class="drop-val up" name="module_pid" value="0" />
									    
									    <ul class="dropdown-menu drop-ul" role="menu" aria-labelledby="dropdownMenu1">
									        {volist name="pids" id="vo"}
									        <li role="presentation">
									            <a role="menuitem" tabindex="-1" id="{$vo.module_id}" href="#">{$vo.str}{$vo.module_name}</a>
									        </li>
									        {/volist}
									        
									    </ul>
									</div>
	
								
	
								</div>
					  </div>
				  
				  <div class="form-group my-over-hidden" >
						       <div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4">
							  <span class="input-group-addon" id="basic-addon1">模块状态</span>
							  <input type="text"  value="{$detail_info.module_status}" class="form-control up" name="module_status" placeholder="点击输入。。。" >
								<span class="input-group-addon"><i class="glyphicon"></i></span>
						       </div>
				  </div>
				  
				  <div class="form-group my-over-hidden" >
						       <div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4">
							  <span class="input-group-addon" id="basic-addon1">所属图标</span>
							  <input type="text"  value="{$detail_info.module_icon}" class="form-control up" name="module_icon" placeholder="点击输入。。。" >
								<span class="input-group-addon"><i class="glyphicon"></i></span>
						       </div>
				  </div>
				  
				  <div class="form-group my-over-hidden" >
						       <div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4">
							  <span class="input-group-addon" id="basic-addon1">模块 u r l</span>
							  <input type="text"  value="{$detail_info.module_url}" class="form-control up" name="module_url" placeholder="点击输入。。。" >
								<span class="input-group-addon"><i class="glyphicon"></i></span>
						       </div>
				  </div>				  
				  
				  <div class="form-group my-over-hidden" >
					  			<div class="col-lg-push-4 col-md-push-4 col-lg-4 col-md-4 ">
							  	<span   class="btn btn-success btn-block btn-submit" class="up-info">提交 </span>
					      </div>
				  </div>
				  
				</form>


		
			</div>
	<script>
			//初始化绑定指定的事件
	$(function(){

			var inputs=$('.my-row input');

			$.each(inputs, function(index,input) {
				$(input).blur(function(){
					submit[index]=0;
					//获取对应的键值
					var mykey=$(input).attr('name');
					var myjson={[mykey]:$(input).val()};
					$.ajax({
						type:"post",
						data:myjson,
						url:$('.my-row').attr('check'),
						success:function(data){
							if(data.state==1){
								
								$(input).next().children().remove();
								$(input).next().html('<i class="glyphicon glyphicon-ok text-success"></i>');
								submit[index]=1;
							}else{
								$(input).next().children().remove();
								$(input).next().html('<i class="glyphicon glyphicon-remove text-danger"></i>');
								
							}
						}
					});
					
				})
			});		
	})
	</script>
