<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>游戏说明</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" type="text/css" href="__GAME__/css/css.css">
</head>
<body>
<div class="hdbox">
 <div class="bg"><img src="__GAME__/images/bg.jpg" alt="" /></div>
  <div class="jlxq success error">
  <img src="__GAME__/images/lp.png" alt="" />
   <div class="btn"><a href="{:url('mygame')}">准备开始</a></div>
   <br/><br/>
  <div class="jlinfo">
  <h3 style="text-align: center;">奖励详情</h3>
  <div class="smtxt">
   <p>游戏发起者打败boss即可获取奖励</p>
   <p>失败可以分享给好友继续游戏</p>
   <p>挑战成功者可到店铺领取高档礼品一份</p>
   <p>凡进店消费顾客均可得到价值158元狗年金币一枚</p>
  </div>
   <h3 style="text-align: center;color: #f94701"> 黄金类促销方案</h3>
   <div class="smtxt" style="color: #f94701">
    <p> 黄金每克直降20元</p>
    <p> 旧饰换新：外金调换12.5元，本店调换8.8元</p>
    <p>钻石彩金满1000元当1330花</p>
   </div>
   </div>
   <p style="text-align: center;">**最终解释权归*百泰首饰*所有**</p>
  </div>

 </div>
</div>
</body>
</html>