<style>
*{ padding:0; margin:0;}
body{padding:0; margin:0;font-family: "microsoft yahei";}
img{ border:none;}
ul,li{ list-style:none;}
.left{ float:left; display:inline;}
.right{ float:right; display:inline;}
.wlqg{ width:1200px; margin:0 auto;}
table{border-collapse:collapse;}
.clear {zoom:1;}
.clear:after {content:'';display:block;clear:both;height:0px;}
.ddtop{}
.wlqg table {width:100%; border:1px solid #ddd; border-collapse:collapse; margin:12px auto; word-break:break-all;}
.wlqg table td {border:1px solid #ddd; border-collapse:collapse; padding:5px; color:#666; text-align:center;}
.wlqg table td input[type="text"]{ width:100%; border:none; outline:none; text-align:center; font-size:13px;}
.wlqg h1{ font-size:22px; font-weight:normal; text-align:center; line-height:50px;}
.wlqg table td .add,.wlqg table td .del{ margin:0 5px; cursor:pointer;}
.qltit{ clear:both; height:25px;}
.qltit li{ width:33.33%; float:left; height:25px; line-height:25px;}
.qltit li label{ float:left;}
.qltit li span{ width:65%; float:left;}
.qltit li span input[type="text"]{ width:100%; border:none;  outline:none; text-align:left; height:25px; line-height:25px; font-size:13px;border-bottom:1px solid #ddd!important;}
.wlqg table thead{ background:#eee;}
</style>
	
	<form role="form"  class="my-row-no-check" check="{:url('checkAjax')}" action="{:url('addhanddle')}" jumpUrl="{:url('lst')}">
		<caption class="text-primary h4"><span class="glyphicon glyphicon-th "></span> {$tabTitle}</caption>
			<div class="wlqg">
			  <h1>物料请购单</h1>
			  <ul class="qltit">
			   <li><label>申请人：</label><span><input name="" type="text" /></span></li>   
			   <li><label>请购部门：</label><span><input name="" type="text" /></span></li>   
			   <li><label>日期：</label><span><input name="" type="text" /></span></li>
			   </ul>
			  <table>
			  <thead>
			   <tr>
			    <td></td> 
				<td width="8%"><span class="add" id="addLine">添加</span><span class="del">删除</span></td>
			    <td>物料名称</td>    
				<td width="8%">规格</td>   
				<td width="8%">数量</td>   
				<td width="8%">单位</td>   
				<td width="10%">需求日期</td>   
				<td>备注</td>
			   </tr>
			  </thead>
			  <tbody id="myContent">
			
			   <tr>
			    <td>1</td> 
				<td></td>
			 	<td><input name="materiel_name" sub="1" type="text" class="up sub" /></td>    
			 	
					<td><input name="materiel_specifications" sub="1" class="up sub" type="text" /></td>   
					<td><input name="materiel_no" sub="1" class="up sub" type="text" /></td>   
					<td><input name="meteriel_number" sub="1" class="up sub" type="text" /></td>   
					<td><input name="meteriel_unit" sub="1" class="up sub" type="text" /></td>   
					<td><input name="meteriel_remark" sub="1" class="up sub"  type="text" /></td>
					
			   </tr>
			
			  </tbody>
			</table>
			<ul class="qltit">
			   <li><label>常务副总：</label><span><input name="" type="text" /></span></li>   
			   <li><label>部门主管：</label><span><input name="" type="text" /></span></li>   
			   <li><label>采购部：</label><span><input name="" type="text" /></span></li>
			</ul>
		</div>		
	</form>

<button id="submit-sub">提交</button>
<script>
	var outIndex=2;
	
	var mydataArr=[];
	var mydataArrSub=[];
	var mydataObj={};	
	
	$(document).on('click','#addLine',function(){
		var	html=' <tr>'+
			'<td>'+outIndex+'</td> '+
			'<td></td>'+
		    '<td><input name="materiel_name" sub="'+outIndex+'" type="text" class="up sub" /></td>'+    
			'<td><input name="materiel_specifications" sub="'+outIndex+'" class="up sub" type="text" /></td>'+   
			'<td><input name="materiel_no" sub="'+outIndex+'" class="up sub" type="text" /></td>'+
			'<td><input name="meteriel_number" sub="'+outIndex+'" class="up sub" type="text" /></td>'+   
			'<td><input name="meteriel_unit" sub="'+outIndex+'" class="up sub" type="text" /></td>'+
			'<td><input name="meteriel_remark" sub="'+outIndex+'" class="up sub"  type="text" /></td>'+
		   '</tr>';
		   outIndex++;
		   $('#myContent').append(html);
		   console.log(html);
		   html='';
	});
	
	$(document).on('click','#submit-sub',function(){
		var subIndex=1;
		var subArr=[];
		var inputs=$('.sub');
//		var inputs=$('input[sub='+subIndex+']');
//		$.each(inputs, function(index,input) {
//			
//			mydataArrSub[subIndex]=subArr[$(input).attr('name')]=$(input).val();
//		});
//		console.log(mydataArrSub[subIndex]);
		
		//遍历二维数组
		
		
		var re= getSub(inputs,subIndex);
		console.log(mydataArrSub);
	});
	
	//
	var sub=[];
	function getSub(inputs,subIndex){
		console.log(subIndex);
		
		$.each(inputs, function(index,input) {
			if($(input).attr('sub')==subIndex){
				console.log('__'+$(input).attr('sub'));
				mydataArrSub[$(input).attr('name')+subIndex]=$(input).val();
			}
		});
		
		console.log(mydataArrSub);
		sub[subIndex]=mydataArrSub;
		
		
		console.log(sub);
		subIndex++;
		//console.log(mydataArr);
		if(outIndex>subIndex){
			getSub(inputs,subIndex);	
		}else{
			//console.log(mydataArr);
			//console.log(mydataObj);
		}
		
		
	}
	
</script>