<ul class="list-group">
	
	  <li class="list-group-item text-center">
   	照片：<img src="{$detail.staff_pic}" height="100px" />
  </li>
	
  <li class="list-group-item text-center">
   	姓名：{$detail.staff_name}
  </li>
  
    <li class="list-group-item text-center">
   	性别：{if condition="$detail.staff_sex"}
				男
			{else 	/}
				女
			{/if}
  </li>
  
    <li class="list-group-item text-center">
   	年龄：{$detail.staff_age}
  </li>
  
    <li class="list-group-item text-center">
   	血型：{$detail.staff_bloodiness}
  </li>
  
    <li class="list-group-item text-center">
   	员工编号：{$detail.staff_job_num}
  </li>

    <li class="list-group-item text-center">
        所学专业：{$detail.staff_major}
    </li>

    <li class="list-group-item text-center">
        毕业院校：{$detail.staff_graduate_institutions}
    </li>

    <li class="list-group-item text-center">
   	所属部门：{$detail.duty_name}
  </li>
  
  
    <li class="list-group-item text-center">
   	职位描述：{$detail.staff_job_desc}
  </li>
  
    <li class="list-group-item text-center">
   	工作内容：{$detail.staff_job_content}
  </li>
  
    <li class="list-group-item text-center">
   	民族：{$detail.staff_nation}
  </li>
  
    <li class="list-group-item text-center">
   	职称：{$detail.staff_professional_title}
  </li>
  
    <li class="list-group-item text-center">
   	文化程度：{$detail.staff_standard_of_culture}
  </li>  
    
    <li class="list-group-item text-center">
   	健康情况：{$detail.staff_healthy_condition}
  </li>  
  
    <li class="list-group-item text-center">
   	身高（厘米）：{$detail.staff_height}
  </li>
  
  
    <li class="list-group-item text-center">
   	体重（kg）：{$detail.staff_weight}
  </li>  
  
  
    <li class="list-group-item text-center">
   	婚姻情况：{$detail.staff_marital_status}
  </li>  
  
  
    <li class="list-group-item text-center">
   	身份证号：{$detail.staff_id_number}
  </li> 
  
    <li class="list-group-item text-center">
   	联系电话：{$detail.staff_tel}
  </li>  
  
    <li class="list-group-item text-center">
   	户籍所在地：{$detail.staff_census_register}
  </li>  
  
    <li class="list-group-item text-center">
   	紧急联系人：{$detail.staff_emergency_contact}
  </li>  
  
      <li class="list-group-item text-center">
   	邮政编码：{$detail.staff_postalcode}
  </li>  
  
    <li class="list-group-item text-center">
   	工作经验：{$detail.staff_working_experience}
  </li>  
  
    <li class="list-group-item text-center">
   	教育培训经历：{$detail.staff_education}
  </li>  
  
    <li class="list-group-item text-center">
   	家族成员：{$detail.staff_family_member}
  </li>    
  
    <li class="list-group-item text-center">
   	员工职务id：{$detail.staff_duty_super_id}
  </li>  
    
</ul>