<ul class="list-group">
<li class="list-group-item text-center">
   	事务ID：{$detail_info.requisition_id}
</li>


<style>
*{ padding:0; margin:0;}
body{padding:0; margin:0;font-family: "microsoft yahei";}
img{ border:none;}
ul,li{ list-style:none;}
.left{ float:left; display:inline;}
.right{ float:right; display:inline;}
.wlqg{ width:1200px; margin:0 auto;}
table{border-collapse:collapse;}
.clear {zoom:1;}
.clear:after {content:'';display:block;clear:both;height:0px;}
.ddtop{}
.wlqg table {width:100%; border:1px solid #ddd; border-collapse:collapse; margin:12px auto; word-break:break-all;}
.wlqg table td {border:1px solid #ddd; border-collapse:collapse; padding:5px; color:#666; text-align:center;}
.wlqg table td input{ width:100%; border:none; outline:none; text-align:center; font-size:13px;}
.wlqg h1{ font-size:22px; font-weight:normal; text-align:center; line-height:50px;}
.wlqg table td .add,.wlqg table td .del{ margin:0 5px; cursor:pointer;}
.qltit{ clear:both; height:25px;}
.qltit li{ width:33.33%; float:left; height:25px; line-height:25px;}
.qltit li label{ float:left;}
.qltit li span{ width:65%; float:left;}
.qltit li span input{ width:100%; border:none;  outline:none; text-align:left; height:25px; line-height:25px; font-size:13px;border-bottom:1px solid #ddd!important;}
.wlqg table thead{ background:#eee;}
</style>
	
	<div role="form"  class="my-row-no-check my-form" >
			<div class="wlqg">
			  <h1>物料请购单</h1>
			  <ul class="qltit">
				   <li><label>申请人：</label><span>{$detail_info.admin_name}</span></li> 
				   <li><label>请购部门：</label><span>{$detail_info.duty_name}</span></li>
				   <li><label>日期：</label><span> {$detail_info.requisition_time}</span></li>
			   </ul>
			  <table>
			  <thead>
			   <tr>
			    <td></td> 
			    <td>物料名称</td>    
				<td width="8%">规格</td>   
				<td width="8%">数量</td>   
				<td width="8%">单位</td>   
				<td width="8%">需求日期</td>
				<td>备注</td>
			   </tr>
			  </thead>
			  <tbody id="myContent" class="subConten" >
			  	{volist name="$detail_info.sub" id="vo"}
				   <tr>
				    <td>{$vo.puchasing_id}</td> 
				 	<td>{$vo.purchasing_name}</td>    
						<td>{$vo.purchasing_specifications}</td>   
						<td>{$vo.purchasing_number}</td>   
						<td>{$vo.purchasing_unit}</td>  
						<td>{$vo.purchasing_date_require}</td>
						<td>{$vo.purchasing_remark}</td>
				   </tr>
			   {/volist}
			  </tbody>
			</table>
			
			<ul class="qltit">
			   <li><label>采购部：</label><span></span></li>
			   <li><label>部门主管：</label><span></span></li>   
			   <li><label>常务副总：</label><span></span></li> 
			</ul>
			
		</div>		
	</div>
</ul>

<button class="btn btn-block btn-success approval-result" approval-result="1" url="{:url('approval')}" toTable="{$detail_info.table_name}" data-id="{$detail_info.requisition_id}">同意审批</button>
<button class="btn btn-block btn-danger approval-result" approval-result="0" url="{:url('approval')}" toTable="{$detail_info.table_name}" data-id="{$detail_info.requisition_id}">拒绝审批</button>

<script>

</script>