		<table class="table table-striped table-responsive table-bordered table-hover">
					<caption class="text-primary h4"><span class="glyphicon glyphicon-th "></span> {$tabTitle}</caption>
					<thead>
						<tr>
							<th>ID</th>
							<th>借款时间</th>
							<th>借款原因</th>
							<th>借款金额</th>
							<th>操作</th>
						</tr>	
					</thead>
					<tbody>
						{volist name="list" id="vo"}
							<tr id="tr{$vo.borrow_id}">
							<td>{$vo.borrow_id}</td>
							<td>{$vo.borrow_time|date="Y-m-d",###}</td>
								<td>{$vo.borrow_reason}</td>
							<td>{$vo.borrow_money}</td>
							<td>
								<!--<span   class="glyphicon  glyphicon-edit text-info my-click-span ajax-get-page"  url="{:url('upd')}" id="{$vo.borrow_id}"></span>
							　-->　<span   class="glyphicon glyphicon-remove text-danger my-click-span" data-toggle="modal" data-target="#myModal{$vo.borrow_id}"></span>

								<span   class="glyphicon glyphicon-eye-open text-danger my-click-span get-detail" data-toggle="modal" url="{:url('borrow_detail')}" myId="{$vo.borrow_id}"
								></span>
										
										<div class="modal fade" id="myModal{$vo.borrow_id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										    <div class="modal-dialog">
										        <div class="modal-content">
										            <div class="modal-header">
										                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										                <h4 class="modal-title" id="myModalLabel">提示</h4>
										            </div>
										            <div class="modal-body">你没有此权限</div>
										            <div class="modal-footer">
										                <button type="button" class="btn btn-success" data-dismiss="modal">确认</button>
										                <!--<span type="button" url="{:url('del')}" name="borrow_id" class="btn btn-danger ajax-del" id="{$vo.borrow_id}" jumpUrl="{:url('lst')}">确定删除</span>
										          -->  </div>
										        </div><!-- /.modal-content -->
										    </div><!-- /.modal -->
										</div>
										
										
										
							</td>
						</tr>
						{/volist}
						
					</tbody>
				</table>
				
