    <button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('borrow_lst')}")><span class="fa fa-database"></span>借支申请列表</button>
    <button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('fund_lst')}")><span class="fa fa-database"></span> 资金支付申请列表</button>
	<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('payment_lst')}")><span class="fa fa-database"></span> 付款申请列表</button>
	<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('lsts')}")><span class="fa fa-database"></span> 中间品检验</button>
	<hr />
<div id="content-sub">
	
</div>