<form role="form"  class="my-row-no-check"  check="{:url('upload')}"  action="{:url('updhanddle')}" jumpUrl="{:url('lst')}">
    <input type="hidden" name="sales_id" class="up" value="{$finance.sales_id}" />
    <div class="form-group " >
        <div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4">
            <div class="dropdown my-drop">
                <button type="button" class="btn dropdown-toggle btn-block drop-btn" id="dropdownMenu1" data-toggle="dropdown">
                    {switch name="$finance.sales_category"}
                    {case value="1"}日报整理{/case}
                    {case value="2"}月报汇总{/case}
                   
                    {default /}<span style="color: red">参数错误</span>
                    {/switch}
                    <span class="caret"></span>
                </button>

                <input type="hidden" class="drop-val up" name="sales_category" value="{$finance.sales_category}" />

                <ul class="dropdown-menu drop-ul" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1"   id="1" href="#">日报整理</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1"   id="2" href="#">月报汇总</a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    <div class="form-group my-over-hidden " >
        <input type="hidden" class="up pic" name="sales_url" value="{$finance.sales_url}" /><span id="p" style="display: none;"></span>

        <div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4" style="text-align: center;">
            <img src="{$finance.sales_url}" class="img" id="img" name="img" width="130">
            <div class="progress">
                <div id="thumb_progress" class="progress-bar" style="width:0%;"></div>
            </div>
            <span id="thumb_upload" class="btn btn-primary fileinput-button">
							<span>上传图片</span>
							<input id="" placeholder="" class="thumb" type="file" name="thumb">
						</span>
        </div>
    </div>

    <link rel="stylesheet" href="__PUBLIC__/jfu/css/jquery.fileupload.css">
    <link rel="stylesheet" href="__PUBLIC__/jfu/css/jquery.fileupload-ui.css">
    <script src="__PUBLIC__/jfu/js/vendor/jquery.ui.widget.js"></script>
    <script src="__PUBLIC__/jfu/js/jquery.fileupload.js"></script>
    <script src="__PUBLIC__/jfu/js/jquery.iframe-transport.js"></script>


    <script type="text/javascript">
        $(function() {
            $(".thumb").fileupload({
                url: '{:url("uploads")}',
                sequentialUploads: true
            }).bind('fileuploadprogress', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $("#thumb_progress").css('width',progress + '%');
                $("#thumb_progress").html(progress + '%');
            }).bind('fileuploaddone', function (e, data) {
               $(".img").attr("src",data.result[1]);
                $(".pic").val(data.result[1]);
                $('#p').html(data.result[0]);
                //$("#thumb_upload").css({display:"none"});
            });
        });
    </script>
    <div class="form-group my-over-hidden" >
        <div class="input-group col-lg-push-4 col-md-push-4 col-lg-4 col-md-4">
            <span class="input-group-addon">标题</span>
            <input type="text" value="{$finance.sales_name}" class="form-control check up" name="sales_name" placeholder="点击输入。。。" >
            <span class="input-group-addon"><i class="glyphicon" ></i></span>
        </div>
    </div>

    <div class="form-group my-over-hidden" >
        <input type="hidden" name="sales_content" class="up" id="cancer_content"  value=''  />
        <textarea id="contents" style="display: none">
				{$finance.sales_content}
			</textarea>
        <script id="editor" type="text/plain" style="width:100%;height:240px;"></script>

        <script>
        $(function(){
            UE.delEditor('editor');
            var ue = UE.getEditor('editor');

            ue.addListener('blur',function(){
                $("#cancer_content").val(ue.getContent());
            });
            UE.getEditor('editor').addListener("ready", function () {
                // editor准备好之后才可以使用
                UE.getEditor('editor').setContent($('#contents').val());
                $("#cancer_content").val(ue.getContent());
            });

        })
        </script>
    </div>

    <div class="form-group my-over-hidden" >
        <div class="col-lg-push-4 col-md-push-4 col-lg-4 col-md-4 ">
            <span   class="btn btn-success btn-block btn-submit-no-check" class="up-info">提交 </span>
        </div>
    </div>
</form>