<ul class="list-group">
	<li class="list-group-item text-center">
		质检人名：{$detail.product_test_name}
	</li>
	<li class="list-group-item text-center">
		产品批号：{$detail.product_test_batch}
	</li>
	<li class="list-group-item text-center">
		检验数量：{$detail.product_test_number}
	</li>
	<li class="list-group-item text-center">
		检验项目：{$detail.product_test_project}
	</li>
	<li class="list-group-item text-center">
		备注：{$detail.product_test_content}
	</li>
	<li class="list-group-item text-center">
		产品名称：{$detail.product_test_product_name}
	</li>
	<li class="list-group-item text-center">
		入库日期：{$detail.product_test_warehousing_date}
	</li>
	<li class="list-group-item text-center">
		请检日期：{$detail.product_test_please_date}
	</li>
	<li class="list-group-item text-center">
		检验日期：{$detail.product_test_check_date}
	</li>
	<li class="list-group-item text-center">
		图片名：<img src="__ROOT__/productTest/{$detail.product_test_imgs}">
	</li>
	<li class="list-group-item text-center">
		报告日期：{$detail.product_test_report_date}
	</li>

</ul>