    <button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('lst')}")><span class="fa fa-database"></span> 入库检验</button>
    <button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('lst',array('product_test_type'=>1))}")><span class="fa fa-database"></span> 原料检验</button>
	<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('lst',array('product_test_type'=>2))}")><span class="fa fa-database"></span> 包材检验</button>
	<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('lst',array('product_test_type'=>3))}")><span class="fa fa-database"></span> 中间品检验</button>
	<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('lst',array('product_test_type'=>4))}")><span class="fa fa-database"></span> 成品检验</button>
	<hr />
<div id="content-sub">
	
</div>