<ul class="list-group">

	<li class="list-group-item text-center">
		姓名：{$detail.patiend_name}
	</li>
	<li class="list-group-item text-center">
		性别：{$detail.patiend_sex}
	</li>

	<li class="list-group-item text-center">
		年龄：{$detail.patiend_age}
	</li>
	<li class="list-group-item text-center">
		民族：{$detail.patiend_nation}
	</li>
	<li class="list-group-item text-center">
		婚姻：{$detail.patiend_marriage}
	</li>

	<li class="list-group-item text-center">
		职业：{$detail.patiend_profession}
	</li>
	<li class="list-group-item text-center">
		工作或家庭地址：{$detail.patiend_work_addr}
	</li>
	<li class="list-group-item text-center">
		电话：{$detail.patiend_tel}
	</li>

	<li class="list-group-item text-center">
		药物过敏史：{$detail.patiend_allergy}
	</li>
	<li class="list-group-item text-center">
		就诊时间：{$detail.patiend_visi_time}
	</li>
	<li class="list-group-item text-center">
		主述：{$detail.patiend_main_desc}
	</li>

	<li class="list-group-item text-center">
		现病史：{$detail.patiend_disease_history}
	</li>
	<li class="list-group-item text-center">
		既往史：{$detail.patiend_previous_history}
	</li>
	<li class="list-group-item text-center">
		月经史：{$detail.patiend_menstrual_history}
	</li>
	<li class="list-group-item text-center">
		家族史：{$detail.patiend_family_history}
    </li>
	<li class="list-group-item text-center">
		中医四诊：{$detail.patiend_tcm}
    </li>
	<li class="list-group-item text-center">
		体格检查：{$detail.patiend_physical_examination}
	</li>
	<li class="list-group-item text-center">
		辅助检查：{$detail.patiend_accessory_examination}
	</li>
	<li class="list-group-item text-center">
		中医诊断：{$detail.patiend_tcm_diagnosis}
	</li>
	<li class="list-group-item text-center">
		西医诊断：{$detail.patiend_western_diagnosis}
	</li>
	<li class="list-group-item text-center">
		治疗意见：{$detail.patiend_therapeutic_opinion}
	</li>
	<li class="list-group-item text-center">
		医生签名：{$detail.patiend_doctor_signature}
	</li>

    
</ul>