<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>游戏说明</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" type="text/css" href="__GAME__/css/css.css">
</head>
<body>
<div class="hdbox">
 <div class="bg"><img src="__GAME__/images/bg.jpg" alt="" /></div>
  <div class="jlxq success error">
  <img src="__GAME__/images/lp.png" alt="" />
   <div class="btn"><a href="{:url('mygame')}">准备开始</a></div>
   <br/><br/>
  <div class="jlinfo">
  <h3 style="text-align: center;">奖励详情</h3>
  <div class="smtxt">
   <p>游戏发起者打败boss即可获取奖励</p>
   <p>失败可以分享给好友继续游戏</p>
   <p>打败boss可以领取价值158元狗年纪念币一枚（需要支付手工费:58元）</p>
   <p>并且可以在2018年以旧换新活动可抵价58元</p>
  </div>
   <h3 style="text-align: center;color: #f94701"> 黄金铂金换钻石活动</h3>
   <div class="smtxt" style="color: #f94701">
    <p> 在游戏活动时间内</p>
    <p>进店消费黄金1000元钻石1000元赠送20元银饺子币一枚</p>
   </div>
   </div>
   <p style="text-align: center;">**最终解释权归*百泰首饰*所有**</p>
  </div>

 </div>
</div>
</body>
</html>