		<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('press')}")><span class="fa fa-database"></span> 采购入库</button>
		<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('sales')}")><span class="fa fa-database"></span> 销售退库</button>
		<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('sample')}")><span class="fa fa-database"></span> 样品退库</button>
		<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('endProduct')}")><span class="fa fa-database"></span> 成品入库</button>
		<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('semiManufactures')}")><span class="fa fa-database"></span> 半成品入库</button>
		<button type="button" class="btn btn-primary ajax-get-third-page" url="{:url('rejects')}")><span class="fa fa-database"></span> 不良品退库</button>
		
		<button type="button" class="btn  ajax-get-third-page" url="{:url('other')}") style="float: right; background: #e4e4e4;"><span class="fa fa-database"></span> 其他入库</button>
		<hr />
<div id="content-third" checkBatch="{:url('admin/DepotPress/checkBatch')}">
	
</div>
<script>
$('#myModalTitle').html('');

</script>