<ul class="list-group">

	<li class="list-group-item text-center">
		物料名：{$detail.materiel_name}
	</li>
	<li class="list-group-item text-center">
		物料编号：{$detail.materiel_no}
	</li>
	<li class="list-group-item text-center">
		物料规格：{$detail.materiel_specifications}
	</li>
	<li class="list-group-item text-center">
		物料单位：{$detail.materiel_unit}
	</li>
	<li class="list-group-item text-center">
		物料数量：{$detail.materiel_number}
	</li>
	<li class="list-group-item text-center">
		备注：{$detail.materiel_remark}
	</li>
</ul>