<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('DepotPress/pressManager')}"><span class="fa fa-database"></span> 物料入库</button>
<button type="button" class="btn btn-primary ajax-get-sub-page" url="{:url('DepotPress/deliveryofcargofromstoragemanager')}"><span class="fa fa-database"></span> 物料出库</button>

<button type="button" class="btn btn-success ajax-get-sub-page" url="{:url('DepotMateriels/lst')}" style="float: right; margin-right: 10px;"><span class="fa fa-database"></span> 所有物料</button>
<button type="button" class="btn btn-success ajax-get-sub-page" url="{:url('DepotMateriels/add')}" style="float: right;"><span class="fa fa-database"></span> 物料添加</button>
<hr />
<div id="content-sub">
</div>