<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>奖励详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" type="text/css" href="__GAME__/css/css.css">
</head>
<body>
{include file="public/share"}
<div class="hdbox">
 <div class="bg"><img src="__GAME__/images/bg.jpg" alt="" /></div>
  <div class="jlxq success error">
  <img src="__GAME__/images/lp.png" alt="" />
  <div class="jlinfo">
  <h2 style="text-align: center">奖励详情</h2>
  <div class="smtxt">
   <p>游戏发起者,并且自己或者好友协助击败boss的</p>
   <p>到店即可领取价值158元的狗年纪念金币一个（千足金）只需到店付58元加工费即可</p>
   <p>并且可以在2018年以旧换新活动可抵价58元</p>
   <p>**最终解释权归*祥城金店*所有**</p>
  </div>
  </div>
  <div class="btn"><a href="{:url('game')}">重新开始</a></div>

 </div>
</div>
</body>
</html>